* {
  --cor-letras: black;
  --cor-wletrs: white;
  font-size: 1rem;
}
html{
  font-size: 10px;
}
::-webkit-scrollbar {
  display: none;
}
/* Apresentação */
/* Engloba toda page */
.content-todo{
  display: flex;
  width: 100%;
  height: 100vh;
 flex-direction: column;
 align-items: center;
}
/* Engloba o link */
.content-apr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-apr h1{
  font-size: 3rem;
}
.content-apr a{
  font-size: 2rem;
}
/* Engloba o conteúdo */
.content-inser{
  display: flex;
 justify-content: center;
  margin-top: 20%;
  width: 50%;
}
.content-inser p{
  font-size: 2rem;
}

/* Cards */

/* Div englobadora */
#cc-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}

#cc-content h1 {
  display: inline;
  font-size: 2rem;
  font-weight: 600;
}
/*Responsável pela separação de section */
.card-content {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.master{
  display: flex;
  justify-content: center;
  width: 100%;
  
}
/* Card Clicável */
.card-p {
  display: flex;
  border: 3px solid black;
  width: 20%;
  margin: 25px;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: var(--cor-letras);
}

.card-p a {
  text-decoration: none;
  color: var(--cor-letras);
  padding-top: 4%;
}

.card-p:hover {
  box-shadow: 0px 5px 7px black;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-img img {
  width: 80%;
  border: 2px solid white;
}

.card-img img:hover {
  box-shadow: 2px 3px white;
}
/* Ficha */
.content-englo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.ficha{
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}
.ficha h1{
 font-size: 3rem;
}
.ficha a{
  font-size: 2rem;
 }